# Ignore all files in this directory
# *

# Except this file
!.gitignore

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/

# Ignore Django migration files
*/migrations/*

# Ignore the virtual environment directory
env/

# Ignore IDE-specific files
.vscode/
*.idea/

# Ignore the database file
db.sqlite3

# Ignore the media files
media/

# Ignore the static files
static/

# Ignore the logs
logs/

# Ignore the cache
cache/




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
.env
db.sqlite3

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Otros archivos específicos del proyecto
/media/
/static/