asgiref
    # via
    #   -r requirements.txt
    #   django
    #   django-cors-headers
django
    # via
    #   -r requirements.txt
    #   django-cors-headers
    #   django-filter
    #   djangorestframework
    #   djangorestframework-simplejwt
    #   drf-yasg
django-cors-headers
    # via -r requirements.txt
django-filter
    # via -r requirements.txt
djangorestframework
    # via
    #   -r requirements.txt
    #   djangorestframework-simplejwt
    #   drf-yasg
djangorestframework-simplejwt
    # via -r requirements.txt
drf-yasg
    # via -r requirements.txt
inflection
    # via
    #   -r requirements.txt
    #   drf-yasg
packaging
    # via
    #   -r requirements.txt
    #   drf-yasg
pillow
    # via -r requirements.txt
pyjwt
    # via
    #   -r requirements.txt
    #   djangorestframework-simplejwt
pytz
    # via
    #   -r requirements.txt
    #   drf-yasg
pyyaml
    # via
    #   -r requirements.txt
    #   drf-yasg
sqlparse
    # via
    #   -r requirements.txt
    #   django
uritemplate
    # via
    #   -r requirements.txt
    #   drf-yasg
